.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  overflow: hidden;
  display: flex;
  width: 70%;

  /* align-items: center; */
}
.cover_img {
  box-shadow: 0 0 15px black;
  border: 15px;
  border-radius: 20px;
  margin: 15px;
}

.movie {
  /* margin: 10px; */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  padding-left: 10px;
}

li {
  list-style: none;
  padding-right: 20px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
}

.movie h2 {
  padding-left: 10px;
}
.rating h1 {
  color: red;
}
.back {
  text-align: right;
}
